.cartItemsHeaders{
    width:100%
    
}

.cartItemHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid;
}

.cartItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 1%;
}

.finalCart {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 4%;
}

.lbl{
    margin-right: 4%;
}