<form class="product-form"  method="post" action="/cart">
            
    <input type="hidden" name="productId" id="productId"    value="<%= product.id %>">

<button class="btn" type="submit">Add To Cart</button>

</form>